@media (max-width: 768px) {
	main {
		grid-template-columns: 1fr;
		gap: 20px 0;
	}

	.search-contener {
		grid-column: 1 / 2;
		padding: 0 50px;
	}

	.news-contener {
		grid-column: 1 / 2;
		grid-template-columns: repeat(2, 1fr);
	}

	article a h2 {
		max-width: 280px;
	}
}

@media (max-width: 600px) {
	header {
		grid-template-columns: auto 1fr;
		gap: 5px;
	}

	.user {
		grid-column: 1 / 3;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
	}

	.search-contener {
		padding: 0 30px;
	}

	.news-contener {
		grid-template-columns: 1fr;
		gap: 30px;
	}

	article a h2 {
		max-width: 500px;
	}

	footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto;
	}
}