@media (max-width: 930px) {
	footer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto;
	}
}

@media (max-width: 600px) {
	header {
		grid-template-columns: auto 1fr;
		gap: 5px;
	}
}