* {
	margin: 0;
}

.page-container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.responsive-img {
	max-width: 100%;
	min-width: 100%;
}

header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
	background-color: #54A94C;
	padding: 10px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3F9338;
	border-radius: 10px;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 34px;
	background-color: #3F9338;
	border-radius: 10px;
	margin: 15px 0;
}

.user {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
}

.user-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: #3F9338;
	border-radius: 10px;
	padding: 5px;
}

main {
	background-color: #78FF6C;
	padding: 20px 10px;
}

footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	background-color: #54A94C;
	padding: 10px;
}

.footer-item a {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid #000000;
}

.footer-item {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	gap: 10px 20px;
}

.footer-img {
	display: flex;
}

.footer-img .responsive-img {
	min-width: 0;
}