* {
	margin: 0;
}

.page-container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.responsive-img {
	max-width: 100%;
	min-width: 100%;
}

header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 20px;
	background-color: #54A94C;
	padding: 10px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3F9338;
	border-radius: 10px;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 34px;
	background-color: #3F9338;
	border-radius: 10px;
	margin: 15px 0;
}

.user {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
}

.user-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: #3F9338;
	border-radius: 10px;
	padding: 5px;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto 1fr;
	gap: 20px;
	background-color: #78FF6C;
	padding: 20px 10px;
}

.search-contener {
	max-height: 45px;
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: auto 1fr;
	border-radius: 10px;
	padding: 5px;
}

.search-button {
	background-color: #54A94C;
	border-radius: 10px 0 0 10px;
}

.search-input {
	width: 100%;
	font-size: 25px;
	background-color: #54A94C;
	border: 0;
	border-radius: 0 10px 10px 0;
}

.news-contener {
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FFFFFF;
	border-radius: 10px;
}

article a {
	color: #000000;
	text-decoration: none;
}

article a h2 {
	max-width: 210px;
	background-color: #54A94C;
	border-radius: 0 10px 10px 0;
	margin: 10px 0;
	padding: 0 0 0 5px;
}

article a p {
	background-color: #54A94C;
	border-radius: 0 0 10px 10px;
	padding: 5px;
}

.empty-container {
	grid-column: 1 / 4;
}

footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	background-color: #54A94C;
	padding: 10px;
}

.footer-item a {
	color: #000000;
	text-decoration: none;
	border-bottom: 1px solid #000000;
}

.footer-item {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
}

.footer-img {
	display: flex;
}

.footer-img .responsive-img {
	min-width: 0;
}