/* В поисковой строке по умолчанию должен стоять текст.
   В artical текст должен быть #FFFFFF, а у меня нет.
   В artical img сжимается, но не растягивается.
   В artical p иногда отлетают от низа.
   Ссылки не должны быть подчеркнуты.
   У иконок в footer должны быть маргины. */

* {
	margin: 0;
}

header {
	display: grid;
	grid-template-columns: auto 1fr 1fr auto;
	gap: 20px;
	padding: 10px;
	background-color: #54A94C;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3F9338;
	border-radius: 10px;
}

h1 {
	grid-column: 2 / 4;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3F9338;
	font-size: 50px;
	margin: 15px;
	border-radius: 10px;
}

.user {
	grid-column: 4 / 5;
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
}

.user-button {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #3F9338;
	font-size: 32px;
	border-radius: 10px;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 20px 10px 20px 10px;
	background-color: #78FF6C;
}

.search-contener {
	grid-column: 2 / 3;
	display: flex;
	background-color: #54A94C;
	border-radius: 10px;
}

.search-contener button {
	background-color: #54A94C;
	border: 0;
	border-radius: 10px;
}

.search-contener input {
	width: auto;
	display: flex;
	justify-content: flex-start;
	background-color: #54A94C;
	font-size: 40px;
	padding: 0;
	border: 0;
	border-radius: 10px;
}

.news-contener {
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

article {
	height: auto;
	background-color: #FFFFFF;
	font-size: 20px;
	border-radius: 10px;
}

.responsive-img {
	max-width: 100%;
}

article h3 {
	max-width: 210px;
	background-color: #54A94C;
	margin: 10px auto 10px 0;
	border-radius: 0 10px 10px 0;
}

article p {
	background-color: #54A94C;
	border-radius: 0 0 10px 10px;
}

footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	background-color: #54A94C;
	padding: 10px;
	font-size: 20px;
}

.footer-item {
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 10px 20px;
}

.footer-item a {
	color: #000000;
}

.footer-img {
	display: flex;
}

.footer-img a .responsive-img {
	margin: auto 10px auto auto;
}